<appSettings>
	<add key="FacebookAppId" value="284255479838358"/>
	<add key="FacebookAppSecret" value="3c0a3f68fced564812e8d0d68d067a7a"/>
	<add key="webpages:Version" value="3.0.0.0" />
	<add key="webpages:Enabled" value="false" />
	<add key="ClientValidationEnabled" value="true" />
	<add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>